BODY {
	MARGIN-TOP: 5px; MARGIN-LEFT: 8px
}
SPAN.norm {
	FONT-SIZE: 11px; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana
}
SPAN.warning {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cc3333; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana
}
SPAN.small {
	FONT-SIZE: 10px; LINE-HEIGHT: 10px; FONT-FAMILY: Verdana
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana
}
SPAN.titlebox {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cc6600; LINE-HEIGHT: 11px; FONT-FAMILY: Verdana
}
SPAN.titlebox2 {
	FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 11px; FONT-FAMILY: Verdana
}
TD.titlebox {
	LINE-HEIGHT: 11px; FONT-FAMILY: Verdana
}
TD.norm {
	FONT-SIZE: 11px; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana
}
TD.warning {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cc3333; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana
}
TD.small {
	FONT-SIZE: 10px; LINE-HEIGHT: 10px; FONT-FAMILY: Verdana
}
TD.title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana
}
TD.footer {
	FONT-SIZE: 10px; COLOR: gray; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana
}
TD.language {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333300; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
TD.pointer {
	FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Verdana
}
TD.lineseparator {
	BACKGROUND-COLOR: #cccccc
}
TD.boldlineseparator {
	BACKGROUND-COLOR: #000000
}
TD.harmonybar {
	BACKGROUND-COLOR: #6699cc
}
TD.harmonybarempty {
	BACKGROUND-COLOR: #ffffff
}
A {
	COLOR: #993300; TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc9966
}
A.language {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333300; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.language:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #993300; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.pointer {
	FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.pointer:hover {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.footer {
	FONT-SIZE: 10px; COLOR: black; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana
}
A.footer:hover {
	FONT-SIZE: 10px; COLOR: gray; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana
}
TD.extramenu {
	FONT-SIZE: 9px; COLOR: #fbfaf6; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.extramenu {
	FONT-SIZE: 9px; COLOR: #fbfaf6; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.extramenu:hover {
	COLOR: #e4e3e0; TEXT-DECORATION: none
}
A.nav {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333300; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.nav:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #993300; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.navactive {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #993300; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.subnav {
	FONT-SIZE: 10px; COLOR: black; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.subnav:hover {
	COLOR: #993300
}
.navtable {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff
}
.subnavtable {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
BODY.sitemap {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px
}
A.sitemaptoplevel {
	MARGIN-TOP: 10px; FONT-SIZE: 14px; COLOR: black; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 10px; TEXT-DECORATION: none
}
A.sitemaptoplevel:hover {
	COLOR: #ff0000
}
A.sitemapsublevel {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.sitemapsublevel:hover {
	COLOR: #ff0000
}
.formular {
	MARGIN-TOP: 0%; PADDING-LEFT: 3px; FONT-SIZE: 10px; BACKGROUND: white; MARGIN-BOTTOM: 10px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.search {
	PADDING-LEFT: 3px; FONT-SIZE: 10px; BACKGROUND: white; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD.questiontable {
	FONT-SIZE: 11px; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana
}
TR.headerrow {
	BACKGROUND-COLOR: #d3cfc2
}
TR.evenrow {
	BACKGROUND-COLOR: #ffffff
}
TR.oddrow {
	BACKGROUND-COLOR: #cccccc
}
